* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 화면 컨테이너 */
.main-contain {
    display: grid;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffecd1;

    grid-template-columns: 0.20fr 0.8fr repeat(2, 0.5fr) 1.1fr;
    grid-template-rows: 6fr 2.7fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.left-side {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;

    height: 100%;
}

.left-side > button {
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-border-radius: 0;
}

/* 돌아가기 버튼 */
.side-back-btn {
    flex-grow: 1;
    --bs-btn-bg: #488ac3;
    --bs-btn-border-color: #488ac3;
    --bs-btn-active-bg: #6f8ac3;
    --bs-btn-active-border-bg: #6f8ac3;
    --bs-btn-hover-bg: #6f8ac3;
    --bs-btn-hover-border-color: #6f8ac3;
}

/* 세트 버튼 */
.side-set-btn {
    flex-grow: 7;
    --bs-btn-bg: #488ac3;
    --bs-btn-border-color: #488ac3;
    --bs-btn-active-bg: #6f8ac3;
    --bs-btn-active-border-bg: #6f8ac3;
    --bs-btn-hover-bg: #6f8ac3;
    --bs-btn-hover-border-color: #6f8ac3;
}

/* 단품 버튼 */
.side-single-btn {
    flex-grow: 7;
    --bs-btn-bg: #488ac3;
    --bs-btn-border-color: #488ac3;
    --bs-btn-active-bg: #6f8ac3;
    --bs-btn-active-border-bg: #6f8ac3;
    --bs-btn-hover-bg: #6f8ac3;
    --bs-btn-hover-border-color: #6f8ac3;
}

/* 음료 버튼 */
.side-drink-btn {
    flex-grow: 7;
    --bs-btn-bg: #488ac3;
    --bs-btn-border-color: #488ac3;
    --bs-btn-active-bg: #6f8ac3;
    --bs-btn-active-border-bg: #6f8ac3;
    --bs-btn-hover-bg: #6f8ac3;
    --bs-btn-hover-border-color: #6f8ac3;
}

.item-list-main {
    grid-area: 1 / 2 / 2 / 5;
}

.cart-footer {
    grid-area: 2 / 1 / 3 / 3;
}

.order-footer {
    grid-area: 2 / 3 / 3 / 5;
}

.ai-side {
    grid-area: 1 / 5 / 3 / 6;
}