<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow: hidden">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kiosk Home</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link th:href="@{/kiosk/css/home.css}"
          href="../kiosk/css/home.css" rel="stylesheet">
</head>
<body>
    <!-- 전체 화면 컨테이너 -->
    <div class="contain">
        <!-- 상단 우측 버튼들 -->
        <div class="top-right-button">
            <button id="admin-btn" type="button" class="btn btn-primary col-6" style="border-right-width: 0">
                <span class="btn-icon">
                    <img src="https://img.icons8.com/material-rounded/24/000000/settings.png" alt="admin-icon"
                         style="object-fit: cover; width: 3vw; height: 3vw">
                </span>
                <span class="btn-text">
                    어드민
                </span>
            </button>
            <button id="settings-btn" type="button" class="btn btn-primary col-6" style="border-right-width: 0">
                <span class="btn-icon">
                    <img src="https://img.icons8.com/color/24/000000/google-translate.png" alt="settings-icon"
                         style="object-fit: cover; width: 3vw; height: 3vw">
                </span>
                <span class="btn-text">
                    <span>언어 설정</span>
                </span>
            </button>
        </div>

        <!-- 중앙 이미지 + 중앙 글씨 -->
        <div class="welcome-text-container">
            <!-- 중앙 이미지 -->
            <img id="welcome-image" th:src="@{kiosk/img/home_taco.png}" alt="Welcome Taco">

            <!-- 중앙 글씨 -->
            <div class="welcome-text">
                Welcome
                Tacotics
            </div>
        </div>

        <!-- 하단 버튼 -->
        <div class="main-btn">
            <button id="to-main-btn" class="btn btn-primary btn-lg col-8"
                    th:onclick="|location.href='@{/main}'|" type="button">
                주문하기
            </button>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>